# Core
streamlit==1.26.0
python-dotenv
validators
Pillow==10.0.0

# LangChain & OpenAI
langchain
langchain-openai
langchain-community
openai==1.9.0

# YouTube + URL parsing
unstructured[html]
youtube-transcript-api
pytube

# (Optional) Hugging Face + AI models
transformers==4.43.0
accelerate==0.23.0

# Heavy models (disable if fails on Streamlit Cloud)
# torch==2.2.0
# diffusers==0.20.2
