# Core
streamlit
python-dotenv
validators
# Pillow will be installed automatically as a dependency of streamlit

# LangChain & OpenAI
langchain
langchain-openai
langchain-community
openai

# YouTube + URL parsing
unstructured[html]
youtube-transcript-api
git+https://github.com/pytube/pytube
