streamlit
langchain
langchain-openai
langchain-community
validators
unstructured[html]
youtube-transcript-api
pytube
python-dotenv
streamlit==1.26.0
openai==1.8.7
diffusers==0.20.2
torch==2.2.0
transformers==4.43.0
Pillow==10.0.0
accelerate==0.23.0
openai
torch


